body{
    background-color: bisque;
}

img{
    max-height: 286px;
}

.diplayOn {
    display: block !important;
}

.displayOff{
    display: none !important;
}

.modal-dialog{
    max-width: 700px !important;
}